.about{
    display: flex;
    justify-content: space-around;
    padding: 4rem;
    align-items: right;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--cor-background);
}

.title_about{
    font-size: 2rem;
    font-weight: bold;
}

.paragraph_about{
    font-size: 1rem;
    font-weight: 600; 
    white-space: wrap;
     
}

.logo_animado{
    display: flex;
    height: 18.75rem;
}


/*Tablet*/
@media (max-width: 768px){
    
    .about{
        display: flex;
        padding: 1rem 1rem;
    }

    .title_about{
        font-size: 1.38rem;
        font-weight: bold;
    }

    .paragraph_about{
        font-size: 0.87rem;
        font-weight: 600;  
    }
    
    
}

/*Mobile*/
@media (max-width: 425px){
    .about{
        display: flex;
        padding: 1rem 1rem;
    }

    .title_about{
        font-size: 1.38rem;
        font-weight: bold;
    }

    .paragraph_about{
        font-size: 0.87rem;
        font-weight: 600;  
    }


}