.cabecalho_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    font-size: 1.12rem;
    flex-flow: row nowrap;
    height: 3.75rem; 
    padding: 0 3rem;
}

ol, ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--cor-secundaria);
}

a:hover{
    color: var(--cor-principal);
}


.title_logo{
    height: 2rem;
}


.logo{
    height: 7rem;
}

.menu_list{
    display: flex;
    text-align: center;
    gap: 1.87rem;
    white-space: nowrap;  /* Não deixa a linha do texto quebrar que nem o flex-wrap*/
}

#cv{
    background-color: var(--cor-principal);
    border-radius: 10px;
    padding: 4px 20px 4px 20px;
    color: var(--cor-clara);
}

#cv:hover{
    color: var(--cor-secundaria);
}


/*Computador*/
@media (max-width: 1024px){
    .cabecalho_container{
        display: flex;
        justify-content: space-around;
        margin: 20px 60px 0px 30px;
    }

    .logo{
        height: 6rem;
    }
}

/*Tablet*/
@media (max-width: 768px){

    .cabecalho_container{
        display: flex;
        font-size: 1rem;
        margin: 2rem;
        justify-content: space-between;
        font-weight: bold;
    }

    .logo{
        height: 6rem;
    }

    .menu_list_item:nth-child(1),
    .menu_list_item:nth-child(2),
    .menu_list_item:nth-child(3),
    .menu_list_item:nth-child(4){
        display: none;
        height: 100%;
    }

}


/*Mobile*/
@media (max-width: 425px){

    .cabecalho_container{
        display: flex;
        justify-content: space-between;
        font-size: 0.87rem;
        font-weight: bold;
        
    }

    .logo{
        height: 4.25rem;
    }


    .menu_list_item:nth-child(1),
    .menu_list_item:nth-child(2),
    .menu_list_item:nth-child(3),
    .menu_list_item:nth-child(4),
    .menu_list_item:nth-child(5){
        display: none;
        height: 100%;
    }
    
}