
.cabecalho_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    font-size: 1.12rem;
    flex-flow: row nowrap;
    height: 3.75rem; 
    padding: 0 1rem;
    margin: 0 2rem;
}

ol, ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--cor-secundaria);
}

a:hover{
    color: var(--cor-principal);
}


.title_logo{
    height: 2rem;
}


.logo{
    height: 3rem;
}

.menu_list{
    display: flex;
    text-align: center;
    gap: 1.87rem;
    white-space: nowrap;  /* Não deixa a linha do texto quebrar que nem o flex-wrap*/
}

#cv{
    background-color: var(--cor-principal);
    border-radius: 10px;
    padding: 4px 20px 4px 20px;
    color: var(--cor-clara);
}

#cv:hover{
    color: var(--cor-secundaria);
}

.menu_list_contato{
    display: flex;
    white-space: nowrap;
    font-weight: bold; 
}


/*Computador*/
@media (max-width: 1024px){
    .cabecalho_container{
        display: flex;
        justify-content: space-around;
    }

    .logo{
        height: 2.5rem;
    }

}

/*Tablet*/
@media (max-width: 768px){

    .cabecalho_container{
        display: flex;
        font-size: 1rem;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    .title_logo{
       height: auto;
    }
    

    .logo{
        height: 2rem;
    }

    .menu_list{
        display: flex;
        gap: 0px;
    }

    .menu_list_item:nth-child(1),
    .menu_list_item:nth-child(2),
    .menu_list_item:nth-child(3),
    .menu_list_item:nth-child(4),
    .menu_list_item:nth-child(5){
        display: none;
        height: 100%;
    }

}

@media (max-width: 690px){

    .cabecalho_container{
        display:flex;
        font-size: 0.5rem;
        font-weight: bold;
        margin: 0;
        padding: 0;
       
    }

    .container_texto{
        display: flex;
        margin: 0;
    }

}


/*Mobile*/
@media (max-width: 425px){

    .cabecalho_container{
        display: flex;
        padding: 0 1rem 0 1rem;
        font-size: 0.87rem;
        font-weight: bold;
        margin: 0;
        
    }

    .logo{
        height: 0.5rem;
    }


    .menu_list_item:nth-child(1),
    .menu_list_item:nth-child(2),
    .menu_list_item:nth-child(3),
    .menu_list_item:nth-child(4),
    .menu_list_item:nth-child(5){
        display: none;
        height: 100%;
    }
    
}