@import url("reset.css");
@import url("header.css");
@import url("apresentacao.css");
@import url("about.css");

:root{
    --cor-principal: #9024B6;
    --cor-secundaria: #000000;
    --cor-clara: #eeeeee;
    --cor-background: #ddb7eb;

}

*{
    margin: 0%;
    padding: 0%;
}

body{
    box-sizing: border-box;
    font-family: 'Raleway';
    background-color: #f6f5f7;
    line-height: 1;
    color: var(--cor-secundaria);
    overflow-x: hidden;
}

main{
    display: flex;
    flex-direction: column;

}