.about{
    display: flex;
    justify-content: space-around;
    padding: 4rem;
    align-items: right;
    flex-direction: column;
    gap: 2rem;
    background: linear-gradient(96.48deg, #9024b6 36.3%, #6e2d68 99.56%);
}

.title_about{
    font-size: 2rem;
    font-weight: bold;
}

.about_paragraph{
    font-size: 1rem;
    font-weight: 400; 
    white-space: wrap;
    color: var(--cor-clara);
     
}



/*Tablet*/
@media (max-width: 768px){
    
    .about{
        display: flex;
        padding: 1rem 1rem;
    }

    .title_about{
        font-size: 1.38rem;
        font-weight: bold;
    }

    .about_paragraph{
        font-size: 0.87rem;
        font-weight: 400;  
        color: var(--cor-clara);
    }
    
    
}

/*Mobile*/
@media (max-width: 425px){
    .about{
        display: flex;
        padding: 1rem 1rem;
    }

    .title_about{
        font-size: 1.38rem;
        font-weight: bold;
    }

    .about_paragraph{
        font-size: 0.87rem;
        font-weight: 400;  
        color: var(--cor-clara);
    }


}