.about{
    display: flex;
    justify-content: space-around;
    padding: 1rem 1rem;
    align-items: right;
    flex-direction: column;
    gap: 2rem;
    background: linear-gradient(96.48deg, #9024b6 36.3%, #6e2d68 99.56%);
}

.about_paragraph{
    font-size: 0.87rem;
    font-weight: 400;  
    color: var(--cor-clara);
}


.title_about{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal; 
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}


/*Tablet*/
@media (min-width: 768px){
    
    .about{
        display: flex;
        padding: 1rem 1rem;

    }

    .title_about{
        font-size: 1.5rem;

    }

    .about_paragraph{
        font-size: 0.87rem;
        font-weight: 400;  
        color: var(--cor-clara);
    }
    
    
}

/*Mobile*/
@media (min-width: 1440px){

    .about{
        display: flex;
        padding: 4rem;
    }
    
    .title_about{
        font-size: 1.8rem;
       
    }

    
.about_paragraph{
    font-size: 1rem;
     
}

}