.container_experience{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 4rem 1rem;
    text-align: left;
    
}

.experiencie__box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
}

.experience__info{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.experience__section__title{
    font-size: 1.37rem;
    font-weight: bold;
    text-align: center;
    color: var(--cor-secundaria);
}

.experience__title{
    font-size: 1rem;
    font-weight: bold;
    color: var(--cor-principal);
}

.experience__text{
    font-size: 0.87rem;
    font-weight: medium;
    color: var(--cor-secundaria);

}

.experience__sub{
    font-size: 0.77rem;
    font-weight: medium;
    color: var(--cor-secundaria);

}

.experience__video{
    display: flex;
     height: 25rem;
    width: 100%;
}


.experiencia__botao--repo {
    display: inline-block;
    padding: 10px 20px;
    background-color: #9024b6;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border-color: #9024b6;
    transition: background-color 0.3s;
    filter:drop-shadow(3px 5px 1px #9024b6)
  }
  
  .experiencia__botao--repo:hover {
    background-color: #948692;
  }

.experiencia__botao--demo {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c5c5c5;
    color: black;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border-color: #c5c5c5;
    transition: background-color 0.3s;
    filter:drop-shadow(3px 5px 1px #c5c5c5)
}

.experiencia__botao--demo:hover {
    background-color: #9565ac
}



/*Tablet*/
@media (min-width:768px){


    
}


/*Computador*/
@media (min-width: 1440px){

    .experiencie__box{
        display: flex;
        padding: 2rem 4rem;
        flex-direction: row;
        gap: 4rem;
       
    }

    .experience__section__title{
        font-size: 2rem;
        font-weight: bold;
    
    }

    .experience__title{
        font-size: 1.40rem;
        font-weight: bold;
        color: var(--cor-principal);
    }
    

    .experience__text{
        font-size: 1rem;
        font-weight: medium;
        color: var(--cor-secundaria);
    
    }

    .experience__sub{
        font-size: 0.90rem;
        font-weight: medium;
        color: var(--cor-secundaria);
    
    }

    .experience__video{
        display: flex;
        height: 25rem;
        width: 50%;
    }

}