.container_experience{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 4rem 1rem;
    text-align: left;
    
}

.experiencie__box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
}

.experience__info{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.experience__section__title{
    font-size: 1.37rem;
    font-weight: bold;
    text-align: center;
    color: var(--cor-secundaria);
}

.experience__title{
    font-size: 1rem;
    font-weight: bold;
    color: var(--cor-principal);
}

.experience__text{
    font-size: 0.87rem;
    font-weight: medium;
    color: var(--cor-secundaria);

}

.experience__sub{
    font-size: 0.77rem;
    font-weight: medium;
    color: var(--cor-secundaria);

}

.experience__video{
    display: flex;
     height: 25rem;
    width: 100%;
}

.experience__description{
    display: flex;
    gap: 1rem;
}


.experiencia__botao--demo {
    background: #c5c5c5;
    border: 1.5px solid #9024b6;
    text-align: center;
    color: black;
    border-radius: 5px;
    padding: 10px 10px;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-0deg);
    filter:drop-shadow(3px 5px 1px #c5c5c5)
  }
  
  .experience__repo {
    display: inline-block;
    transform: skew(21deg);
    
  }
  
  .experiencia__botao--demo::before {
    content: '';
    border-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: #9024b6;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }
  
  .experiencia__botao--demo:hover {
    color: #fff;
  }
  
  .experiencia__botao--demo:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }

.experiencia__botao--repo {
    background-color: #9024b6;
    border: 1.5px solid #c5c5c5;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px 10px;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    filter:drop-shadow(3px 5px 1px #9024b6);
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-22deg);
  }
  
 .experience__repo {
    display: inline-block;
    transform: skew(21deg);
  }
  
.experiencia__botao--repo::before {
    content: '';
    border-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: #c5c5c5;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }
  
  .experiencia__botao--repo:hover {
    color: black;
  }
  
  .experiencia__botao--repo:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }


/*Computador*/
@media (min-width: 1440px){

    .experiencie__box{
        display: flex;
        padding: 2rem 4rem;
        flex-direction: row;
        gap: 4rem;
       
    }

    .experience__section__title{
        font-size: 2rem;
        font-weight: bold;
    
    }

    .experience__title{
        font-size: 1.40rem;
        font-weight: bold;
        color: var(--cor-principal);
    }
    

    .experience__text{
        font-size: 1rem;
        font-weight: medium;
        color: var(--cor-secundaria);
    
    }

    .experience__sub{
        font-size: 0.90rem;
        font-weight: medium;
        color: var(--cor-secundaria);
    
    }

    .experience__video{
        display: flex;
        height: 25rem;
        width: 50%;
    }

    .experiencia__botao--demo{
      background: #c5c5c5;
      border: 1.5px solid #9024b6;
      text-align: center;
      color: black;
      border-radius: 5px;
      padding: 10px 10px;
      display: inline-block;
      font-size: 12px;
      font-weight: 600;
      width: 120px;
      text-transform: uppercase;
      cursor: pointer;
      transform: skew(-0deg);
      filter:drop-shadow(3px 5px 1px #c5c5c5)
    }

    .experiencia__botao--repo{
      background-color: #9024b6;
      border: 1.5px solid #c5c5c5;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 10px 10px;
      display: inline-block;
      font-size: 12px;
      font-weight: 600;
      filter:drop-shadow(3px 5px 1px #9024b6);
      width: 120px;
      text-transform: uppercase;
      cursor: pointer;
      transform: skew(-22deg);
    }

}