.footer {
    width: 100%;
    height: 104px;
    background: linear-gradient(96.48deg, #9024b6 36.3%, #520486 99.56%);
    color: #f4f4f4;
    margin-top: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .whatsapp{
    display: flex;
    justify-content: end;
    padding: 1rem;
  }

  .whatsapp {animation: bounce 2s infinite; }

@keyframes bounce {
    0% {transform: translateY(0);}
    40% {transform: translateY(-20%);}
    90% {transform: translateY(0);}
}
