
.container_cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-image: url(/assets/xv.png);
    background-color: #f4f4f4;
    width: 100%;
    padding: 0.2rem 1rem;    
}

ul{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    list-style: none;
}

.menu_list_item{
    text-decoration: none;
    color: var(--cor-secundaria);
    
}

a{
    text-decoration: none;
    color: var(--cor-secundaria);
}

a:hover{
    color: var(--cor-principal);
}


.logo{
    height: 1.7rem;
       
} 

.menu_list_item:nth-child(1),
.menu_list_item:nth-child(2),
.menu_list_item:nth-child(3),
.menu_list_item:nth-child(4),
.menu_list_item:nth-child(5),
.menu_list_item:nth-child(6){
    display:none;
    height: 100%;
}


#cv{
    background-color: var(--cor-principal);
    border-radius: 10px;
    padding: 4px 15px 4px 15px;
    color: var(--cor-clara);
    box-shadow: 5px 5px 2px rgb(93, 10, 114);
}

#cv:hover{
    background-color: rgb(248, 185, 248);
    color: var(--cor-secundaria);
    font-weight: 600;
    border: 2px solid #9024b6
}


#cv.ativa,
#cv:active {
  background-color:  #611b7a;
  border: 2px solid #9024b6;
  box-shadow: 3px 3px 0 #611b7a inset;
  color: #ffff;
  outline: none;
} 

#cv.focus,
#cv:focus {
  outline: none;
  box-shadow: 1px 1px 10px rgb(248, 185, 248);
}

#cv.active:focus,
#cv:active:focus {
  box-shadow: 3px 3px 0 #611b7a  inset, 1px 1px 10px rgb(248, 185, 248);
}


.menu_list_contato{
    display: flex;
    white-space: nowrap;
    font-weight: bold; 
}


/*Tablet*/
@media (min-width:768px){

    .cabecalho_container{
        display: flex;
        font-size: 1rem;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    .title_logo{
       height: auto;
    }
    

    .logo{
        height: 1.7rem;
    }

    .menu_list{
        display: flex;
    }

    .menu_list_item:nth-child(6){
        display: block;
        height: 100%;
    }

}


/*Computador*/
@media (min-width: 1440px){

    .container_cabecalho{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        font-size: 1.12rem;
        flex-flow: row nowrap;
        height: 3.75rem; 
    }

        
    .title_logo{
        height: 2rem;
    }


    .logo{
        height: 2.3rem;
    }

 
    .menu_list{
        display: flex;
        gap: 2rem;
        white-space: nowrap;
    }

    .menu_list_item:nth-child(1),
    .menu_list_item:nth-child(2),
    .menu_list_item:nth-child(3),
    .menu_list_item:nth-child(4),
    .menu_list_item:nth-child(5),
    .menu_list_item:nth-child(6){
    display: block;
    height: 100%;
}

        
}

