
.container_cabecalho{
    display: flex;
    background: var(--cor-escura);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.2rem 1rem;    
}

ul, li{
    list-style: none;
}


.logo{
    height: 1.9rem;
       
} 

.menu_list_item:nth-child(1),
.menu_list_item:nth-child(2),
.menu_list_item:nth-child(3),
.menu_list_item:nth-child(4),
.menu_list_item:nth-child(5),
.menu_list_item:nth-child(6){
    display:none;
    height: 100%;
}


.menu_list_contato a{
    display: flex;
    font-size: 0.98rem;
    white-space: nowrap;
    font-weight: 500; 
    color: var(--cor-secundaria);
}

/*Tablet*/
@media (min-width:768px){

    .cabecalho_container{
        display: flex;
        font-size: 1rem;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    .title_logo{
       height: auto;
    }
    

    .logo{
        height: 2.1rem;
    }

    .menu_list{
        display: flex;
        font-weight: 620;
        letter-spacing: 2px;
    }

    .menu_list_item:nth-child(6){
        display: block;
        height: 100%;
    }

    .menu_list_contato{
        font-size: 1.2rem;
        font-weight: 100;
    }

    #cv{
        border-radius: 20px;
        padding: 0.4rem;
        color: var(--cor-escura);
        background-color: var(--cor-secundaria);
    }
    
   

}


/*Computador*/
@media (min-width: 1440px){

    .container_cabecalho{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        font-size: 1.12rem;
        flex-flow: row nowrap;
        height: 3.75rem; 
    }

        
    .title_logo{
        height: 2rem;
    }


    .logo{
        height: 2.3rem;
    }

 
    .menu_list{
        display: flex;
        gap: 2rem;
        white-space: nowrap;
    }

    nav ul{
        background-color: var(--cor-principal);
        border-radius: 15px;
        gap: 1.2rem; 
        padding: 1rem;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1rem;   
    }
    
    .menu_list_item{
        margin: 0;
        padding: 0;
        position: relative;
        color: var(--cor-secundaria);
        text-shadow: 0px 1px 1px #030003;
        font-weight: 800;
        
    }
    
    .menu_list_item a{
        color: var(--cor-clara);
        text-decoration: none;
        display: block;
    }
    
    .container_cabecalho a{
        display: block;
        line-height: inherit;
        text-decoration: none;
        cursor: pointer;
        color: var(--cor-secundaria);
    }
    
    .container_cabecalho{
        font-weight: 600;
        text-transform: uppercase;
    }
    
    .menu_list_item:hover > a {
        border: 2px solid var(--cor-clara);
        padding: 5px;
        border-radius: 5px;
    }

    .menu_list_item:nth-child(1),
    .menu_list_item:nth-child(2),
    .menu_list_item:nth-child(3),
    .menu_list_item:nth-child(4),
    .menu_list_item:nth-child(5),
    .menu_list_item:nth-child(6){
    display: block;
    height: 100%;
}

    .menu_list_contato{
        font-size: 1rem;          
    }

    #cv{
        border-radius: 10px;
        padding: 0;
        color: var(--cor-secundaria);
        background-color: var(--cor-principal);
    }
    
    #cv:hover{
        color: var(--cor-secundaria);
        padding: 3px;
        line-height: 25px;
        background: 3px rgb(19, 8, 22);
    }
    
    
    #cv.ativa,
    #cv:active {
      background-color:  #611b7a;
      border: 2px solid var(--cor-principal);
      box-shadow: 3px 3px 0 #611b7a inset;
      color: var(--cor-escura);
      outline: none;
    } 
    
    #cv.focus,
    #cv:focus {
      outline: none;
      box-shadow: 1px 1px 10px rgb(248, 185, 248);
    }
    
    #cv.active:focus,
    #cv:active:focus {
      box-shadow: 3px 3px 0 #611b7a, 1px 1px 10px rgb(248, 185, 248);
    }
        
}

