.container_hobbies{
    display: flex;
    padding: 2rem 1rem;
    gap: 3rem;
    flex-direction: column;
}

.titulo_hobbies{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal; 
    text-align: center;
    font-style: bold; 
    font-size: 1.3rem;

}

.hobbies__line{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 2rem;
    text-align: center;
    justify-content: center;
}

.hobbies__box_um{
    background-color: #9024b6;
    color: #ffff;
    background-size: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 15px black;
    width: 13rem;
    padding: 2rem;  
    opacity: 0.9; 
    align-items: center;
}


.hobbies__box_dois{
    background-color: rgb(199, 197, 197);
    border-radius: 20px;
    background-size: 100%;
    box-shadow: 5px 5px 15px black;
    width: 13rem;
    padding: 2rem;  
    opacity: 0.9; 
    align-items: center;

}

.hobbies__box_dois {animation: bounce 2s infinite; }

@keyframes bounce {
    0% {transform: translateY(0);}
    40% {transform: translateY(-20%);}
    60% {transform: translateY(-10%);}
}

.hobbies__name{
    font-weight: bold;
    font-size: 1rem;
} 

/*Tablet*/
@media (min-width:768px){
    .container_hobbies{
        display: flex;
        gap: 2.5rem;
    
    }

    .hobbies__line{
        display: flex;
        gap: 1.5rem;
       
    }

    .titulo_hobbies{
        font-size: 1.38rem;
        text-align: center;
    
    }

}

/*Computador*/
@media (min-width: 1440px){

    .container_hobbies{
        display: flex;
        gap: 4rem;
    
    }

    .hobbies__line{
        display: flex;
        gap: 4rem;
    }

    .titulo_hobbies{
        font-size: 1.8rem;
        text-align: center;
    
    }
}