@import url("/styles/reset.css");
@import url("/styles/header.css");
@import url("/styles/presentation.css");
@import url("/styles/about.css");
@import url("/styles/skills.css");
@import url("/styles/hobbies.css");
@import url("/styles/academic.css");
@import url("/styles/experience.css");
@import url("/styles/footer.css");
@import url("/styles/formcontato.css");

*{
margin: 0%;
padding: 0%;
} 

:root{
    --cor-principal: rgb(144, 36, 182);
    --cor-secundaria: #5c1294;
    --cor-terciaria: rgb(227, 200, 237);
    --cor-clara: rgb(255, 255, 255);
    --cor-escura: #000000;

}


body{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: var(--cor-escura);
    line-height: 1;
    color: var(--cor-secundaria);
    overflow-x: hidden;
}

main{
    display: flex;
    flex-direction: column;
}

  /* Estilização da barra de rolagem */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--cor-escura);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--cor-principal);
  }
