.container_apresentacao_conteudo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 3rem 1rem;
    margin: 0;
}

.foto_perfil{
    height: 7rem;
    margin-top: 3rem;
}

.container_texto{
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
    margin-top: 1rem;
      
}

.titulo_apresentacao{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--cor-secundaria);
}

.typing{
    width: 80%;
    animation: typing 3s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid var(--cor-escura);
    text-shadow: 2px 2px 3px var(--cor-principal);  
}


@keyframes typing{
    from {
        width: 0;
    }
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}


.subtitulo_apresentacao{
    font-size: 0.87rem;
    font-weight: medium;
    color: var(--cor-principal);
}

.link_list_social{
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    align-items: center;

}

.curriculo{
    display: block;
}
.curriculo{
    background-color: var(--cor-principal);
    flex-basis: nowrap;
    flex-grow: row;
    padding: 10px;
    width: 7em;
    height: 2.5em;
    transition: 0.5s;
    font-size: 12px;
    border-radius: 0.4em;
}

    
.link_list_social_item{
    background-color: var(--cor-principal);
    flex-basis: nowrap;
    flex-grow: row;
    padding: 10px;
    width: 7em;
    height: 2.5em;
    transition: 0.5s;
    font-size: 12px;
    border-radius: 0.4em;
}

#link_list_social_text{
    text-align: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    top: 0.4em;
    left: 1.2em;
    margin: 0;
    padding: 0;
    color: var(--cor-clara);
}

#link_list_social_image {
    display: none;
}



/*Tablet*/
@media (min-width: 769px){

    .container_apresentacao_conteudo{
        display: flex;
        padding: 4rem 1rem;
        flex-wrap: nowrap;
        margin-top: 3rem;
        justify-content: space-between;
        flex-direction: column;
    }

    .container_texto{
        display: flex;
        gap: 1rem;
        margin: 10px 0px;
    }
    
    .titulo_apresentacao{
        font-size: 1.37rem;
        font-weight: bold;
        color: var(--cor-secundaria);
        gap: 0.5rem;
    }

    .link_list_social{
        display: flex;
        gap: 1rem;
        flex-direction: row;
        align-items: center;
    
    }

    .typing{
        width: 70%;
        border-right: 3px solid var(--cor-escura);
        
    }


    .subtitulo_apresentacao{
        font-size: 1.2rem;
        font-weight: medium;
        color: var(--cor-principal);
    }

    .foto_perfil{
        display: flex;
        height: 9.12rem;
    }

    .curriculo{
        display: none;
    }  
      
     #link_list_social_text {
       font-size: 14px;
      }
    
      .link_list_social_item{
        background-color: var(--cor-principal);
        flex-basis: nowrap;
        flex-grow: row;
        padding: 10px;
        width: 8em;
        height: 3em;
        border-radius: 0.4em;
    }
    
      
     #link_list_social_image{
     display: none;
      }
   
   
}


@media (min-width: 1440px){
.container_apresentacao_conteudo{
    display: flex;
    padding: 5rem;
    justify-content: space-between;
    flex-direction:row-reverse;
    gap: 2rem;
}


.foto_perfil{
    display: flex;
    height: 20rem;
    
}


.container_texto{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2rem;
    align-self: start;
    margin: 90px 0px;
}

.titulo_apresentacao{ 
    font-weight: bold;
    color: var(--cor-secundaria);
    gap: 1rem;
}


.typing{
    width: 65%;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid var(--cor-escura);
    text-shadow: 2px 2px 3px var(--cor-principal);   
    
}

@keyframes typing{
    from {
        width: 0;
    }
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}

.titulo_apresentacao{
    font-size: 2rem;
    font-weight: bold;
    color: var(--cor-secundaria);
}

.subtitulo_apresentacao{
    font-size: 1.37rem;
    font-weight: medium;
    color: var(--cor-principal);
}



.curriculo{
    display: none;
}


.link_list_social_item {
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: var(--cor-principal);
    border: 2px solid var(--cor-principal);
    padding: 5px;
    position: relative;
    width: 9em;
    height: 2.5em;
    transition: 0.5s;
    border-radius: 0.4em;
   
  }
  
 #link_list_social_text {
    position: absolute;
    top: 0.4em;
    left: 1.2em;
    margin: 0;
    padding: 0;
    transition: 0.5s;
    color: var(--cor-clara);
  }
  
  #link_list_social_image {
    display: block;
    width: 1.2rem;
    transition: 0.5s;
    height: 1rem;
    fill: var(--cor-clara);
}
 
 #link_list_social_image{
    width: 1.2rem;
    position: relative;
    bottom: 1rem;
    right: 0;
    left: 4.8rem;
    margin: 0rem;
    opacity: 0;
    transition: 0.5s;
    height: 1rem;
    fill: var(--cor-clara);
  }
  
.link_list_social_item:hover #link_list_social_text{
    left: 0.6em;
    color: var(--cor-escura);
  }
  
 .link_list_social_item:hover #link_list_social_image{
    opacity: 1;
  }
  
  .link_list_social_item:hover {
    background-color: var(--cor-clara);
  }
  

}



