.container_skills{
    display: flex;
    padding: 4rem 1rem;
    gap: 2rem;
    flex-direction: column;
}

.titulo_skills{
    font-size: 1.37rem;
    font-weight: bold;
    text-align: center;
    color: var(--cor-secundaria);

}

.skills__line{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 2rem;
    text-align: center;
    justify-content: center;
}

.skills__box_um{
    background-color: #9024b6;
    background-size: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 15px black;
    width: 13rem;
    padding: 1rem;
}

.skills__box_um {animation: bounce 2s infinite; }

@keyframes bounce {
    0% {transform: translateY(0);}
    40% {transform: translateY(-20%);}
    60% {transform: translateY(-10%);}
}


.skills__box_dois{
    background-color: rgb(199, 197, 197);
    border-radius: 20px;
    background-size: 100%;
    box-shadow: 5px 5px 15px black;
    width: 13rem;
    padding: 1rem;  

}


.skills__name{
    font-weight: bold;
    font-size: 1rem;
}

/*Tablet*/
@media (min-width:768px){
    .container_skills{
        display: flex;
        gap: 2.5rem;
    
    }

    .skills__line{
        display: flex;
        gap: 1.5rem;
       
    }

    .titulo_skills{
        font-size: 1.38rem;
        text-align: center;
    
    }

}

/*Computador*/
@media (min-width: 1440px){

    .container_skills{
        display: flex;
        gap: 4rem;
        padding: 6rem 2rem;
    
    }

    .skills__line{
        display: flex;
        gap: 4rem;
    }

    .titulo_skills{
        font-size: 2rem;
        text-align: center;
    
    }
}